<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <%- include('../partials/header_front'); %>
    <link rel="stylesheet" href="/css/product_box.css">
    <link rel="stylesheet" href="/css/categorystyle.css">
        <!-- font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap" rel="stylesheet">    

<style>
.list-container {
  margin: 30px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;

  @media screen and (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.product-box-card {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    width: 300px;
    height: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    @media screen and (max-width: 600px) {
      width: 150px;
      height: 200px;
    }
  }

</style>

</head>
<body>
    <%- include('../partials/navbar_front'); %>
    <div class="container">
        <!-- topic part -->
        <div class="topic-category">
            <%= categoryName %>
            <hr>
            <p class="topic-detail"> <%= productCount %> products </p>
        </div>

        

<section class="products-list" id="products-list">

  <div class="list-container">
    <div class="product-list">
      <%- include('../partials/productBoxCard'); %>
    </div>
  </div>


  
</section>
            


    </div>
    <%- include('../partials/footer_front'); %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
